main h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
    color: var(--dark-blue);
}

main p {
    margin: 0;
    color: var(--dark-blue);
}

.todo-list {
    width: 100%;
    padding-left: 0;
    margin: 0;
}

.todo-list > .todo {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    list-style: none;
}

ul > p.no-todo {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.todo-list > .todo.private {
    border: 2px dashed orange;
}

.todo-list > .todo.hidden {
    display: none;
}

.todo-list > .todo > div {
    width: 100%;
    display: flex;
    gap: 5px;
}

.todo-list div.heading {
    align-items: center;
    border-bottom: 1px solid var(--dark-blue);
    padding-bottom: 5px;
    justify-content: space-between;
}

.todo-list div.content {
    padding-top: 5px;
}

.todo-list div.todo div.heading > div.duedate,
.todo-list div.content > div.description {
    flex-grow: 1;
}

/* IMAGES */
.todo-list .img-button {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.todo-list .img-button img {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    filter: invert(17%) sepia(19%) saturate(857%) hue-rotate(196deg) brightness(94%) contrast(95%);
    /*filter: invert(100%) sepia(12%) saturate(455%) hue-rotate(80deg) brightness(102%) contrast(91%);*/
}

.todo-list .img-button.disabled {
    display: none;
}

/* SUBJECT */
.todo-list div.todo div.subject, .todo-list div.todo div.status {
    flex-shrink: 0;
}

.todo-list div.subject p, .todo-list div.status p {
    display: block;
    padding: 5px;
    border-radius: 5px;
    color: var(--light-gray);
    width: fit-content;
}

.todo-list div.subject p {
    background-color: #45af2f;
}

/* STATUS */
.todo-list div.status p {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    transition: all .1s ease-in-out;
    white-space: nowrap;
}

.todo-list div.status p:hover {
    box-shadow: 0 0 5px 0 #8d99ae;
}

.todo-list div.status p img {
    height: 16px;
    filter: invert(100%) sepia(12%) saturate(455%) hue-rotate(80deg) brightness(102%) contrast(91%);
}

.todo-list div.status.todo p {
    background-color: var(--gray);
    margin-left: auto;
}

.todo-list div.status.in-progress p {
    background-color: #265fa3;
    margin-left: auto;
}

.todo-list div.status.done p {
    background-color: #008001;
    margin-left: auto;
}

.todo-list div.status.report p {
    border-bottom: 3px solid var(--insa-color);
    padding-bottom: 2px;
}

.todo-list div.status.reminder p {
    background-color: var(--insa-color);
    box-shadow: none;
    cursor: default;
}

.todo-list div.status p.loading {
    opacity: .5;
    box-shadow: none;
    color: transparent;
    text-shadow: 0 0 2px rgba(237, 242, 244, 0.5);
    cursor: default;
}

.todo-list div.status p.loading img {
    color: transparent;
    filter: blur(2px) invert(100%) sepia(12%) saturate(455%) hue-rotate(80deg) brightness(102%) contrast(91%);
}

/* DESCRIPTION */
.todo-list div.content > div.side {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-list div.content > div.side.inline {
    flex-direction: row-reverse;
}

.todo-list div.content > div.side > * {
    background-color: transparent;
    border: 2px solid var(--dark-blue);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.todo-list div.content > div.side > *:hover, .todo-list div.content > div.side > div.showing {
    background-color: var(--light-gray-hover);
}

.todo-list div.content > div.description {
    text-align: left;
}

.todo-list div.content > div.description > p.first-line {
    font-weight: bold;
}

.todo-list .dropdown {
    background-color: transparent;
}

.todo-list .dropdown .round {
    background-color: var(--dark-blue);
}

.todo-list .dropdown .dropdown-content {
    left: 0;
    background-color: var(--light-gray);
}

.todo-list .dropdown .dropdown-content a {
    color: var(--dark-blue);
    cursor: pointer;
}

.todo-list .dropdown .dropdown-content p {
    color: var(--dark-blue);
    opacity: 0.8;
    padding: 3px 15px;
    font-size: 11px;
}

.todo-list .dropdown .dropdown-content a:hover {
    background-color: var(--light-gray-hover);
}

/* EDITOR */
.todo-list form {
    display: block;
    padding: 0;
}

.todo-list form div {
    justify-content: stretch;
}

.todo-list form div.content textarea {
    min-height: 35px;
    height: 70px;
    max-height: 300px;
    margin-bottom: 5px;
}

.todo-list input, .todo-list select {
    margin: 0;
    min-width: 0;
    width: 100%;
}

.todo-list form .fixed {
    width: auto;
    flex-shrink: 0;
    flex-grow: 0;
}

.todo-list form .fixed[type="submit"] {
    padding: 0 10px;
}

/* DELETE */
div.delete-todo form p {
    line-height: 30px;
    padding-bottom: 5px;
}

div.delete-todo form div {
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: center;
}

div.delete-todo form div input {
    flex-grow: 0;
    max-width: 150px;
}

/* FAST LINKS */

div.join-request {
    width: 100%;
    margin-bottom: 10px;
}
div.join-request a{
    background-color: var(--dark-blue);
    border-radius: 10px;
    padding: 8px 5px;
    text-align: center;
    display: block;
}
div.join-request a p{
    text-decoration: underline;
    text-decoration-color: var(--gray);
    color: var(--light-gray);
    font-size: 14px;
    margin: 0;
    display: block;
    transition: all .2s ease-in-out;
}
div.join-request a:hover p{
    text-decoration-color: var(--light-gray);
}
