main {
    padding: 0;
}

#day-select, #rest-select {
    background-color: var(--light-red);
    margin: 0;
    padding: 5px;
    border-radius: 0;
    color: white;
}
#day-select {

}
#rest-select {
    border-radius: 0 0 15px 15px;
}

#menu {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
#menu > h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
#menu > div {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    overflow: hidden;
}
#menu > div > h2 {
    margin: 0 ;
    padding: 0;
    width: 100%;
    line-height: 30px;

    border-radius: 10px;
    background-color: var(--dark-blue-light);
    color: white;
    font-size: 16px;
    font-weight: 500;
}
#menu div > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
#menu div > div p{
    margin: 0;
}
#menu div > div p span{
    font-size: 12px;
    color: var(--gray);
    padding-right: 4px;
}


.toggle-group {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    gap: 1px;
    min-height: 30px;
}
.toggle-group div {
    flex-basis: 100%;
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 5px 0;

    cursor: pointer;
}
.toggle-group div[aria-checked="true"] {
    background-color: var(--header-button);
}
.toggle-group div.disabled {
    color: var(--gray);
}

.toggle-group div p{
    margin: 0;
    line-height: 15px;
}
.toggle-group div p.subtitle{
    font-size: 12px;
}
