h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #262626;
}

/********************************************/
/******************* FORM *******************/
/********************************************/

input[type="text"] {
    margin: 10px 0;
    width: 180px;
}

form {
    padding: 5px 0;
}

div.error-container, div.infos-container {
    width: 100%;
    padding: 8px;
}

div.errors, div.infos, div.success {
    border-radius: 7px;
    color: #EDF2F4;
    font-size: 15px;
    line-height: 120%;
    padding: 5px;
    margin: 5px;
}

div.errors {
    background-color: var(--light-red);
    border: 2px solid var(--header-button-hover);
}
div.success {
    background-color: #1bab14;
    border: 2px solid #237f0a;
}
div.infos {
    background-color: #50a6c5;
    border: 2px solid #2d6f98;
}

div.errors p, div.success p, div.infos p {
    color: #EDF2F4;
    font-size: 15px;
    line-height: 130%;
    margin: auto;
}

/********************************************/
/****************** HEADER ******************/
/********************************************/

header .dropdown {
    position: relative;
    min-width: 30px;
    min-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: var(--header-button);
    cursor: pointer;
}

header .dropdown:hover, header .dropdown.showing {
    background-color: var(--header-button-hover);
}

.dropdown .round {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.15);
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #fff;
}

.dropdown .round-1 {
    left: 25%;
}

.dropdown .round-2 {
    left: 50%;
}

.dropdown .round-3 {
    left: 75%;
}

.dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: auto;
    background-color: var(--header-button);
    padding: 5px 0;
    border-radius: 5px;
}

header .dropdown .dropdown-content {
    width: max-content;
}

.dropdown.showing .dropdown-content {
    display: block;
    cursor: default;
}

.dropdown .dropdown-content a {
    text-decoration: none;
    display: block;
    padding: 5px 15px;
}

.dropdown .dropdown-content a:hover {
    background-color: var(--header-button-hover);
}

/********************************************/
/*************** CLASS - LIST ***************/
/********************************************/

.class-list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: stretch;
}

.class-list .class {
    margin: 0;
    padding: 0 0 0 5px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    gap: 5px;
    transition: all .1s ease-in-out;
    background-color: white;
}
.class-list .class, .class-list .class:visited {
    text-decoration: none;
    color: var(--dark-blue);
}
.class-list a:hover, .class-list > div{
    background-color: transparent !important;
}
.class-list .class div{
    display: flex;
    gap: 10px;
}
.class-list .class p{
    margin: auto 0;
    padding: 0;
    font-size: 17px;
}
.class-list .class div p{
    font-size: 14px;
}
.class-list .class p.badged{
    height: 100%;
    padding: 5px;
    border-radius: 3px;
    background-color: var(--gray);
    color: var(--light-gray);
}
.hidden{
    opacity: 0;
}
