/* Palette: https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429 */

h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #262626;
}
input[type="text"] {
    margin: 10px 0;
    width: 180px;
}
input {
    font-size: 14px;
}
form{
    padding: 5px 0;
}

div.errors{
    background-color: #ea5252;
    border: 3px solid #D90429;
    border-radius: 7px;
    color: #EDF2F4;
    font-size: 14px;
    padding: 0 5px;
    margin: 5px;
}