main > div{
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #EDF2F4;

}
main p.info{
    text-align: left;
    margin: 0 0 10px;
}

form {
    text-align: left;
}
form p, h3{
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0 5px 0;
}
form select, form input[type="text"]{
    margin: 0;
    width: 100%;
}
form input[type="checkbox"]{
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    z-index: 100;
    cursor: pointer;
    -webkit-appearance: checkbox;
    margin: 2px 2px;
}
form label[for="room-checkbox"]{
    cursor: pointer;
}
form div.submit{
    margin: auto;
    width: fit-content;
    min-width: 33%;
}
form input[type="submit"]{
    width: 100%;
}

form div.types {

}
form div.types > div > label{
    cursor: pointer;
    width: 100%;
}
