header h1 {
  margin: 10px 0;
}
main > section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  max-width: 500px;
  padding: 0;
}
main > section > a{
  text-decoration: none;
  color: #171717;
  width: 100%;
}

section .link-div{
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px 18px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
  border: 1px solid var(--light-gray-hover);
  transition: border-color .2s ease-in-out;
}
@media (max-width: 450px) {
  section .link-div{
    gap: 10px;
    padding: 10px 10px;
  }
}
section .link-div:focus, section .link-div:hover{
  border-color: var(--insa-color);
}
section .link-div img {
  min-width: 55px;
  width: 55px;
  border-radius: 10px;
  background-color: white;
}
section .link-div div.text{
  padding: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
section .link-div h1, section .link-div h2, section .link-div p{
  word-break: normal;
  text-align: center;
}
section .link-div h1{
  padding: 0;
  margin: 0 0 5px 0;
  color: var(--text-on-white);
}
section .link-div h2{
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  margin: 0 0 4px 0;
  color: var(--text-light-on-white);
}
section .link-div p{
  padding: 3px;
  margin: 0;
  font-weight: 300;
  font-size: 13px;
  background-color: #ea7082;
  border-radius: 5px;
  color: white;
  opacity: 0.5;
}
