.b-darken {
    padding: 5px;
}
/*************/
/* SEARCHBAR */
/*************/

.searchbar {
    display: flex;
    padding: 0;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    gap: 10px;
    position: relative;

    border-radius: 10px;
}
.searchbar img {
    position: absolute;
    left: 9px;
    width: 20px;
    height: 20px;

    /* Color: --dark-blue-light */
    filter: invert(34%) sepia(8%) saturate(944%) hue-rotate(196deg) brightness(92%) contrast(86%);
}
.searchbar input {
    padding: 0 9px 0 34px;
    margin: 0;
    height: 34px;
    flex-grow: 1;
    max-width: 300px;

    border-radius: 10px;
    border: 2px solid var(--dark-blue-light);
    background: #FFF;
    font-size: 15px;
}
.searchbar input:focus {
    outline: none;
    border-color: var(--insa-color);
}
.searchbar p {
    color: var(--dark-blue);
    font-size: 14px;
    margin: 0;
}

#results-section #more-button {
    margin: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

#results-section .loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid var(--dark-blue-light); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/************/
/*** LINK ***/
/************/

ul#results-section {
    padding: 0;
    width: 100%;
}

#results-section p.no-results {
    margin: 15px 0 20px 0;
}

#results-section .link {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
    padding: 5px;
    margin-bottom: 10px;
    list-style: none;

    border-radius: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
}

/* Title / Description */

#results-section h2 {
    margin: 0;

    font-size: 16px;
    font-weight: 700;
    color: var(--dark-blue);
}
#results-section hr {
    height: 1px;
    margin: 0;
    color: var(--dark-blue-light);
}
#results-section p.description {
    margin: 0;

    font-size: 14px;
    color: var(--dark-blue);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#results-section li.link.expanded p.description {
    white-space: normal;
}

/* Details: link + mutable content + actions */

#results-section .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    gap: 5px;
}
#results-section .details > * {
    height: 29px;
}
#results-section .details a {
    padding: 5px;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    color: rgb(57, 150, 13);
    border: 1px solid rgba(57, 150, 13, 0.80);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}
#results-section li.link.expanded .details a {
    flex-basis: 100%;
}
#results-section .details a:visited {
    color: rgb(57, 150, 13);
    text-decoration: none;
}

/* Mutable content (in .details ) */

#results-section li.link.expanded .mutable-content .more-button,
#results-section li.link:not(.expanded) .mutable-content .author {
    display: none;
}

#results-section .mutable-content .author {
    margin: 0;
    font-size: 14px;
    color: var(--dark-blue);
    line-height: 29px;
}

#results-section .mutable-content .more-button {
    padding: 5px;
    height: 29px;
    border: 1px solid var(--dark-blue-light);
}
#results-section .mutable-content .more-button {
    padding: 5px;
    height: 29px;
    border: 1px solid var(--dark-blue-light);
}
#results-section .mutable-content .more-button:hover {
    border-color: var(--insa-color);
}

/* Actions */

#results-section .details .actions {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
#results-section .details .actions button.show-if-opened{
    display: none;
}
#results-section li.link.expanded .details .actions button.show-if-opened{
    display: block;
}
#results-section .details .actions button {
    padding: 3px 5px;
    height: 29px;

    border: 1px solid var(--dark-blue-light);
    font-size: 15px;
}
#results-section .details .actions button img {
    height: 21px;
    transition: filter .2s ease-in-out;
}
#results-section .details .actions button:hover {
    border-color: var(--insa-color);
}

/* Own Actions */

#results-section .details .actions button.edit img {
    filter: invert(13%) sepia(29%) saturate(804%) hue-rotate(197deg) brightness(94%) contrast(87%);
}
#results-section .details .actions button.delete img {
    filter: invert(14%) sepia(98%) saturate(4426%) hue-rotate(351deg) brightness(80%) contrast(101%);
}


/* Rating Actions */

#results-section .details .actions button.rating {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    padding: 0 5px;
    height: 29px;
}
#results-section .details .actions button.rating {
    padding: 0 5px;
}
#results-section .details .actions button.rating img {
    height: 27px;
    transition: filter .2s ease-in-out;
}
#results-section .details .actions button.rating.selected:hover {
    border-color: var(--dark-blue-light);
}
#results-section .details .actions button.like:hover {
    border-color: #1C68AE;
}
#results-section .details .actions button.dislike:hover {
    border-color: var(--insa-color);
}
#results-section .details .actions button.like.selected img {
    /* #1C68AE */
    filter: invert(23%) sepia(100%) saturate(1746%) hue-rotate(194deg) brightness(94%) contrast(78%);
}
#results-section .details .actions button.dislike.selected {
    color: var(--insa-color);
    border-color: var(--insa-color);
}
#results-section .details .actions button.dislike.selected img {
    /* --insa-color */
    filter: invert(10%) sepia(99%) saturate(6216%) hue-rotate(354deg) brightness(84%) contrast(94%);
}
#results-section .details .actions button.like.selected {
    color: #1C68AE;
    border-color: #1C68AE;
}


#results-section .details .actions button.rating.disabled {
    border: none;
    color: var(--dark-blue-light);
    font-size: 14px;
    padding: 0;
    cursor: default;
}
#results-section .details .actions button.rating.disabled img {
    height: 24px;
    filter: invert(35%) sepia(8%) saturate(818%) hue-rotate(196deg) brightness(92%) contrast(91%);
}

#results-section .details .actions button.loading {
    /*border: none;*/
    /*box-shadow: 0 0 2px 2px rgba(0,0,0,0.20);*/
    /*padding: -1px 4px;*/
}
#results-section .details .actions button.loading p {
    color: transparent;
    text-shadow: 0 0 2px rgba(43, 45, 66, 0.5);
}
#results-section .details .actions button.loading img {
    filter: blur(2px) !important;
}

/************/
/* ADDFORM */
/************/

form.add-link {
    gap: 5px;
    padding: 0;
}
form.add-link, form > div.header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
form > div.header {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--dark-blue);
}
form.add-link > div.header > input {
    border-radius: 5px 5px 0 0;
}
form.add-link > div.header > textarea {
    height: 50px;
    border-radius: 0 0 5px 5px;
    border-top: none;
}


form.add-link > div.horizontal {
    display: flex;
    align-content: stretch;
    align-items: center;
    gap: 5px;
}
form.add-link input, form.add-link label {
    margin: 0;
    flex-grow: 1;
    width: inherit;
    min-width: 100px;
}
form.add-link label {
    text-align: right;
    font-size: 14px;
}
form.add-link input[type="submit"],
form.add-link input[type="date"] {
    flex-grow: 0;
    width: 150px;
}

form.add-link input:focus, form.add-link textarea:focus {
    outline: none;
    border: 2px solid var(--insa-color);
}


