.b-darken {
    padding: 5px;
}

/* SEARCHBAR */

.searchbar {
    display: flex;
    padding: 0;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
    gap: 10px;
    position: relative;

    border-radius: 10px;
}
.searchbar img {
    position: absolute;
    left: 9px;
    width: 20px;
    height: 20px;

    /* Color: --dark-blue-light */
    filter: invert(34%) sepia(8%) saturate(944%) hue-rotate(196deg) brightness(92%) contrast(86%);
}
.searchbar input {
    padding: 0 9px 0 34px;
    margin: 0;
    height: 34px;
    flex-grow: 1;
    max-width: 300px;

    border-radius: 10px;
    border: 2px solid var(--dark-blue-light);
    background: #FFF;
    font-size: 15px;
}
.searchbar input:focus {
    outline: none;
    border-color: var(--insa-color);
}
.searchbar p {
    color: var(--dark-blue);
    font-size: 14px;
    margin: 0;
}


/* LINK */


section.results {

}

section.results p.no-results {
    margin: 15px 0 20px 0;
}

/* ADDFORM */

form.add-link {
    gap: 5px;
    padding: 0;
}
form.add-link, form > div.header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
form > div.header{
    padding-bottom: 5px;
    border-bottom: 1px solid var(--dark-blue);
}
form.add-link > div.header > input {
    border-radius: 5px 5px 0 0;
}
form.add-link > div.header > textarea {
    height: 50px;
    border-radius: 0 0 5px 5px;
    border-top: none;
}


form.add-link > div.horizontal {
    display: flex;
    align-content: stretch;
    align-items: center;
    gap: 5px;
}
form.add-link input, form.add-link label {
    margin: 0;
    flex-grow: 1;
    width: inherit;
    min-width: 100px;
}
form.add-link label {
    text-align: right;
    font-size: 14px;
}
form.add-link input[type="submit"],
form.add-link input[type="date"]{
    flex-grow: 0;
    width: 150px;
}

form.add-link input:focus, form.add-link textarea:focus {
    outline: none;
    border: 2px solid var(--insa-color);
}


